@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<dt>User.Identity.Name</dt>
<dd>@ViewContext.HttpContext.User.Identity.Name</dd>

<dt>access token</dt>
<dd>@await ViewContext.HttpContext.GetTokenAsync("access_token")</dd>

<dt>refresh token</dt>
<dd>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</dd>
